{%- block recaptcha_widget -%}
  <div class="g-recaptcha"
    data-sitekey="{{ recaptcha.sitekey }}"
    data-theme="{{ recaptcha.theme }}"
    data-size="{{ recaptcha.size }}">
  </div>
{%- endblock -%}
