services:
    _defaults:
        autowire: true
        autoconfigure: true

    OHMedia\AntispamBundle\:
        resource: '../src/'
        exclude:
            - '../src/Entity/'
            - '../src/OHMediaAntispamBundle.php'
